:root {
    --color-primary: #FFFFFF;
    --color-second: #F9F9F9;
    --color-third: #2F8AF5;
    --color-fourth: #102B21;
    --color-fifth: #5F666F;
    --color-sixth: #0C0B1A;
    --color-seventh: #707070;
    --color-eightth: #1B2432;
    --color-ninth: #828282;
    --color-tenth: #D1D3D6;
    --color-eleven: #323A46;
    --color-border: #D4D4D4;
    --color-twelve: #011C1E;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    direction: rtl;
    min-width: fit-content;
    background-color: var(--color-second);

}

@font-face {
    font-family: "light";
    src: url("../fonts/alfont_com_Somar-Light.otf");
}

@font-face {
    font-family: "regular";
    src: url("../fonts/alfont_com_Somar-Regular.otf");
}

@font-face {
    font-family: "medium";
    src: url("../fonts/alfont_com_Somar-Medium.otf");
}

@font-face {
    font-family: "semi-bold";
    src: url("../fonts/alfont_com_Somar-SemiBold.otf");
}

@font-face {
    font-family: "bold";
    src: url("../fonts/alfont_com_Somar-Bold.otf");
}

@media only screen and (max-width: 1200px) {
    .image_upload {
        width: 8rem;
        height: 8rem;
        max-width: 100%;
    }
    .logo_upload {
        width: 8rem;
        height: 8rem;
        max-width: 100%;
    }

    .menu-nav a .menu-text {
        font-size: .6rem;
    }

    .menu-nav a .menu-icon {
        font-size: .6rem;
    }

    .menu-nav .menu-item {
        padding: 0.5rem 0rem;
    }

    .custom_image_upload {
        width: 6rem;
        max-width: 100%;
        padding: 0.7rem 1rem;
        margin-right: 0.5rem;
        font-size: 0.7rem;

    }

    .edit_btn,
    .edit_btn:hover {
        font-size: 0.6rem;
        padding: 0.7rem 1rem;
    }

    .branch_icon {
        font-size: .7rem;
    }

    .branch_list li {
        font-size: .7rem;
    }

    .branch_image {
        width: 7rem;
        height: 7rem;
    }

    .card_li_icon svg {
        font-size: .7rem;
    }

    .product-card-title {
        font-size: .9rem;
    }

    .rate_group {
        font-size: .9rem;
    }

    .swiper {
        width: 360px;
    }

    .rate_starts {
        right: 11%;
    }

    .group_image span {
        right: 11%;
    }

    .add_new_btn {
        font-size: 0.6rem !important;
        height: 2rem !important;
        margin-top: 50px;
    }

    .check_switch {
        right: -31px;
    }

    .form-switch label {
        font-size: 10px;
        left: -7px;
        top: 8px;
    }

    .custom_form_group .custom_input {
        padding-right: 13%;
    }

    .disease {
        font-size: 1REM;
    }

    .save_btn,
    .save_btn:hover {
        font-size: 0.6rem;
    }

    .check_text {
        font-size: .6rem;
        margin-right: 2rem;
    }

    .left_btn {
        top: 13%;
        left: 146px;
    }

    .right_btn {
        top: 13%;
        left: 2%;
    }

    .accept_btn,
    .accept_btn:hover {
        width: 8rem;
    }

    .refuse_btn,
    .refuse_btn:hover {
        width: 8rem;
    }

    .reservation_body_card li {
        width: 48%;
    }

    .visit_card_position {
        top: 10%;
        left: 2%;
    }

    .visit_details,
    .visit_details:hover {
        width: 8rem !important;
    }

    .toolbar-btns {
        width: 60%;
    }

    .add_service_btn:before {
        width: 33%;

    }

    .add_service_btn:after {
        width: 33%;
    }

    .card_about {
        font-size: .6rem;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        right: -3rem !important;

    }.table_check {
        width: 3rem !important;
        height: 1.6rem !important;
      }
      .custom_file_upload{
        padding: 0.7rem 1rem;
        font-size: .8rem;
      }
}

@media only screen and (max-width: 991.98px) {

    #navbarNav .navbar-nav {
        flex-direction: row !important;
        margin-top: -2rem;
        margin-right: 5%;
    }

    #navbarNav .form-nav {

        margin-top: 2rem;
    }

    #aside {
        display: none;
        max-width: 65%;
    }
    .side_btn{

          display: block;
       }
    .content_row {
        width: 100%;
        max-width: 100%;
    }

    .content_text {
        width: 67%;
    }

    .rate_group {
        top: 58%;
    }

    .rate_starts {
        right: 17%;
    }

    .group_image span {
        right: 17%;
    }

    .patient_address::before {
        right: -14px;
    }

    .left_btn {
        top: 3%;

    }

    .right_btn {
        top: 3%;

    }

    .card_text {
        width: 100%;
    }

    .visit_rect {
        width: 70%;
        margin-top: 1rem;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Section four*/
    thead td {
        /* position: absolute;
    top: 38%;
    left: 0; */
        width: 90%;
    }

    tr {
        border-bottom: 1px solid #ccc;
    }

    /* Section five*/
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .custom_table tr td,
    #dataTableBuilder tr td {
        border-top: 1px solid #CBCBCB !important;
        border-bottom: 1px solid #CBCBCB !important;
        border-right: 1px solid #CBCBCB;
        border-left: 1px solid #CBCBCB;
        padding: 1rem !important;
        color: rgba(73, 80, 91, .8);
        font-family: 'medium';
        font-size: 1rem;
        width: 100%;
        margin-top: 1rem;
    }

    table {
        width: 100% !important;
    }

    .discount_text {
        width: 4rem;
        font-size: .6rem;
    }

    .login_text img {
        width: 7rem;
        height: 7rem;
    }

    .custom_label {
        font-size: .6rem;
    }
    .model_shape{
        width: 41%;
        position: absolute;
        top: 25%;
        left: 36%;
      }
}

@media only screen and (max-width: 600px) {
    #aside {
        display: none;
        max-width: 75%;
    }

    #dropdownMenuButton1 {
        position: relative;
    }

    .nav_email {
        top: 77%;

    }

    .content_text {
        width: 100%;
    }

    .phone_group {
        margin-top: 1rem;
    }

    .tabs_dash .nav-item {
        width: 100%;
    }

    .visit_card_position {
        top: 17%
    }

    .visit_details,
    .visit_details:hover {
        width: 7rem;
        height: 40px;
    }

    .card_ul li {
        width: 100% !important;
        display: block !important;
    }

    .left_btn {
        top: 20%;
        left: 0%;
    }

    .circle_number {
        float: right;
    }

    .toolbar-btns {
        width: 100%;
    }

    .custom_file_upload {
        width: 6rem;
        font-size: .6rem;
    }

    .upload_div .mx-auto {
        text-align: center;
    }

    .add_service_btn:before {
        width: 18%;

    }

    .add_service_btn:after {
        width: 18%;
    }

    #navbarNav .navbar-nav {
        flex-direction: row !important;
        margin-top: 2rem;
        margin-right: -2rem;

    }

    .login_text {
        margin: auto;
        width: 50%;
    }

    .login_text img {
        width: 4rem;
        height: 4rem;
    }

    .login_text h3 {
        font-family: 'semibold';
        color: var(--color-twelve);
        margin-top: 1.5rem;
        font-size: 1rem;

    }

    #dataTableBuilder_filter {
        width: 50%;
    }

    .image_upload {
        margin: auto;
        display: flex
    }

    .image_upload+.form-group {
        text-align: center;
    }
    .logo_upload {
        margin: auto;
        display: flex
    }

    .logo_upload+.form-group {
        text-align: center;
    }
    .custom_image_upload {
        width: 8rem;
    }
    .table_check {
        width: 2.2rem !important;
        height: 1.1rem !important;
      }
      .add_service_btn, .add_service_btn:hover{
        font-size: .7rem;
      }
      .model_shape{
        width: 50%;
        position: absolute;
        top: 29%;
        left: 25%;
      }
}